@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

p[epub|type~="bridgehead"]{
	font-style: italic;
	margin-top: 1em;
}

div[epub|type~="se:diary.dateline"], div[epub|type~="z3998:valediction"]{
	text-align: right;
	margin-right: 1em;
}

div[epub|type~="z3998:letter"]{
	margin-top: 1em;
	margin-bottom: 1em;
}

#cursiveclue {
	text-align: center;
}